:root {
  --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --borderRadius: 50%;
  --fontSize: 18px;
  --heightWidth: 30px;
}

%bgColorActiveHover {
  background-color: rgb(135, 147, 190);
  color: rgb(253, 253, 253);
}

.chapter-link {
  display: table;
  text-align: center;
  margin: 15px auto;
  padding: 20px 0;
  width: 70%;
}

.chapter-link-item {
  float: left;
  font-family: var(--fontFamily);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize);
  height: var(--heightWidth);
  width: var(--heightWidth);
  padding: 0 0 1px 0;
  border-radius: var(--borderRadius);
  color: rgb(18, 36, 141);
  margin: 0 10px;
  text-decoration: none;
 
  &.active {
    @extend %bgColorActiveHover;
  }

  &:hover {
   @extend %bgColorActiveHover;
  }
}


@media screen and (max-width: 550px) {
  .chapter-link {
    width: 100%;
    padding: 35px 0 0 0;
  }
 /* .chapter-link-item {
    padding: 4px 0 0 0;
    margin: 3px 10px;
  }*/
}