.button-up {
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  background-color: rgb(118, 175, 221);
  transition-duration:  0.4s;
}

.button-up:hover {
  background-color: rgb(151, 201, 241);
  color: rgb(250, 246, 32);
  cursor: pointer;
}

.button-up:active {
  background-color: rgb(97, 94, 233);
}