

.button-up {
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  background-color: rgb(118, 175, 221);
  transition-duration:  0.4s;

  &:hover {
    background-color: rgb(151, 201, 241);
    color: rgb(250, 246, 32);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(97, 94, 233);
  }
}

@media screen and (max-width: 550px) {
  .button-up{
    padding-top: 9px;
    font-size: 32px;
    bottom: 30px;
    right: 30px;
  }
}