.nav__all{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.nav__item{
  margin: 5px 15px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn__link {
  outline: none;
  background-color: #fff;
  border: 1px solid rgb(39, 161, 209);
  font-size: 14px;
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
}

.btn__link:hover {
  background: #a1cdec;
  transition-duration: 0.4s;
}

@media screen and (max-width: 500px) {
  .nav__all {
    display: none;
  }
}